@model IEnumerable<HRManager.Models.EntityViews.EmployeeProfessionalInfo>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateProfessionalInfo</title>
</head>
<body>
  @if (Model is not null)
    {
    <div>
      <form asp-controller="Employee" asp-action="UpdateProfessionalInfo" method="post">
    
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrganizationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsThisYourLastEmployment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastDesignation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CTC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReportingManagerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReportingManagerEmailId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HRName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HREmailId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OfferLetterPath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RelievingLetterPath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExperienceLetterPath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaySlip1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaySlip2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaySlip3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReferenceEmailId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrganizationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsThisYourLastEmployment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastDesignation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CTC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportingManagerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportingManagerEmailId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HRName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HREmailId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OfferLetterPath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RelievingLetterPath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExperienceLetterPath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaySlip1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaySlip2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaySlip3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferenceEmailId)
                        </td>
                       
                    </tr>
                    <p>
                            <a asp-action="UpdateProfessionalInfo">Edit</a>
                    </p>
                     
                }
                <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary"/>
                        </div>
            </tbody>
        </table>
       @* <p>
            <a asp-action="UpdateProfessionalInfo"></a>
    </p>*@
        </form>
        </div>
    }
</body>
</html>
