@model HRManager.Models.EntityViews.EmployeeDocument

@if (Model is not null)
{
    <div>
        <h4>EmployeeDocument</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.HiddenFor(model => model.Id)
            </dt>
            <dd class = "col-sm-10">
                @Html.HiddenFor(model => model.Id)
            </dd>
            <dt class = "col-sm-2">
                @Html.HiddenFor(model => model.UserId)
            </dt>
            <dd class = "col-sm-10">
                @Html.HiddenFor(model => model.UserId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PassportPhoto)
            </dt>
            <dd class = "col-sm-10">
                
              @if(!string.IsNullOrEmpty(@Model.PassportPhoto))
                @if(@Model.PassportPhoto.Contains("png")||@Model.PassportPhoto.Contains("jpg")||@Model.PassportPhoto.Contains("jpeg"))
                {
                    <a target="_blank" href="@Model.PassportPhoto">Passport Photo</a>
                }
                else
                {
                }
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Resume)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Resume)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PanCard)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PanCard)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AadharCard)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.AadharCard)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Passport)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Passport)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.VoterId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.VoterId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CurrentAddressProof)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CurrentAddressProof)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PermanentAddressProof)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PermanentAddressProof)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FathersAadharCard)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FathersAadharCard)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.MothersAadharCard)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MothersAadharCard)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ThreeMonthsBankStatementOfSalaryAccount)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ThreeMonthsBankStatementOfSalaryAccount)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Form16OrIncomeCertificateOfCurrentFinYear)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Form16OrIncomeCertificateOfCurrentFinYear)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SSCOrEquivalent)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SSCOrEquivalent)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IntermediateOrEquivalent)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IntermediateOrEquivalent)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GraduationOrEquivalent)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GraduationOrEquivalent)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PGOrEquivalent)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PGOrEquivalent)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AdvancedDiplomaIfAny)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.AdvancedDiplomaIfAny)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProfessionalCertificationsIfAny)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProfessionalCertificationsIfAny)
            </dd>
        </dl>
         @Html.ActionLink("Add","AddDocument","Employee")|
          @Html.ActionLink("Edit","UpdateDocument","Employee",new{id=Model.Id})|
           @Html.ActionLink("Delete","DeleteDocument","Employee",new{id=Model.Id})
    </div>
}
