@model HRManager.Models.EntityViews.EmployeePersonalInfo

    <div  id="personaldetails">
        <dl class="row">
            <dt class = "col-sm-4">
                @Html.HiddenFor(model => model.Id)
            </dt>
            <dd class = "col-sm-6">
                @Html.HiddenFor(model => model.Id)
            </dd>
            <dt class = "col-sm-4">
                @Html.HiddenFor(model => model.UserId)
            </dt>
            <dd class = "col-sm-6">
                @Html.HiddenFor(model => model.UserId)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.FirstName)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.MiddleName)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.LastName)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Gender)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.DateOfBirth)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.MobileNumber)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.MobileNumber)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.PersonalEmailId)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.PersonalEmailId)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.CurrentAddress)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.CurrentAddress)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.PermanentAddress)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.PermanentAddress)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.BloodGroup)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.BloodGroup)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.EmergencyContactName)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.EmergencyContactName)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.EmergencyContactNumber)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.EmergencyContactNumber)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.RelationshipWithContact)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.RelationshipWithContact)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.PanCardNumber)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.PanCardNumber)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.NameAsPerAadhar)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.NameAsPerAadhar)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.AadharCardNumber)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.AadharCardNumber)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.FathersNameAsPerAadhar)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.FathersNameAsPerAadhar)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.FathersMobileNumber)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.FathersMobileNumber)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.MothersNameAsPerAadhar)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.MothersNameAsPerAadhar)
                <br />
            </dd>
        </dl>
        @*@Html.ActionLink("Edit","UpdatePersonalInfo","Employee",new{id=Model.Id})*@

    </div>


