@model HRManager.Models.EntityViews.EmployeePFandESIInfo

@if (Model is not null)
{
    <div id="PFandESIdetails">
        <dl class="row" >
            <dt class = "col-sm-4">
                @Html.HiddenFor(model => model.Id)
            </dt>
            <dd class = "col-sm-8">
                @Html.HiddenFor(model => model.Id)
            </dd>
            <dt class = "col-sm-4">
                @Html.HiddenFor(model => model.UserId)
            </dt>
            <dd class = "col-sm-8">
                @Html.HiddenFor(model => model.UserId)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.UAN)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.UAN)
                <br />
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.ESIN)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.ESIN)
                <br />
            </dd>
        </dl>
    </div>
    @*<a role="button" href="@Url.Action("UpdatePFAndESIInfo", "Employee",new{Id=Model.Id})">Edit</a>*@
}
