@model HRManager.Models.EntityViews.EmployeeInsuranceInfo


    <div>
        <dl class="row">
            <dt class = "col-sm-4">
                @Html.HiddenFor(model => model.Id)
            </dt>
            <dd class = "col-sm-8">
                @Html.HiddenFor(model => model.Id)
            </dd>
            <dt class = "col-sm-4">
                @Html.HiddenFor(model => model.UserId)
            </dt>
            <dd class = "col-sm-8">
                @Html.HiddenFor(model => model.UserId)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.NameAsPerAadhar)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.NameAsPerAadhar)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Relationship)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Relationship)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Gender)
            </dd>
        </dl>
         @*@Html.ActionLink("Edit","UpdateInsuranceInfo","Employee",new{Id=Model.Id})
          @Html.ActionLink("Delete","DeleteInsuranceInfo","Employee",new{id=Model.Id})*@
    </div>

