@model HRManager.Models.ViewModels.EmployeeIndexModels;

@{
    ViewData["Title"] = "Employee Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    <h1 class="text-center">Your Details</h1>
  <form asp-controller="Employee" asp-action="Index">
    @if (Model is not null)
    {          
        <div>
          <h2>Personal Details</h2>
            <div class="row">
             <div class="card bg-transparent border-3">
              <div class="card-body">
                <partial name="_GetPersonalInfo.cshtml" model="@Model.employeePersonalInfo">
              <div class="card-footer">
                <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("UpdatePersonalInfo", "Employee",new{Id=Model.employeePersonalInfo.Id})'" />
              </div>
             </div>
            </div>
            </div>
        </div>
        <br />

        <div>
             <h2>Professional Details
                 <input type="button" class="btn btn-secondary" title="Add" value="Add" onclick="location.href='@Url.Action("AddProfessionalInfo", "Employee")'" />
             </h2> 
              <div class="row">
            @foreach (var item in @Model.employeeProfessionalInfos)
            {
              <div class="card bg-transparent border-3 col-sm-6" style="max-width: 40rem">
                  <div class="cardbody">
                    <partial name="_GetProfessionalInfo.cshtml" model="item">
                <div class="card-footer">
                    <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("UpdateProfessionalInfo", "Employee",new{Id=item.Id})'" />
                    <input type="button" class="btn btn-secondary" title="Delete" value="Delete" onclick="location.href='@Url.Action("DeleteProfessionalInfo", "Employee",new{Id=item.Id})'" />
                 </div>
                </div>
              </div>
            }
            </div>
            </div>
            <br />
        <div>
           <h2>Bank Details
              <input type="button" class="btn btn-secondary" title="Add" value="Add" onclick="location.href='@Url.Action("PostBankInfo", "Employee")'" />
           </h2>
           <div class="row">
                @foreach (var item in @Model.employeeBankInfos)
                {
                  <div class="card bg-transparent border-3 col-sm-6" style="max-width: 40rem">
                    <div class="cardbody">
                       <partial name="_GetBankInfo.cshtml" model="item"> 
                       <div class="card-footer">
                        <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("PutBankInfo", "Employee",new{Id=item.Id})'" />
                        <input type="button" class="btn btn-secondary" title="Delete" value="Delete" onclick="location.href='@Url.Action("DeleteBankInfo", "Employee",new{Id=item.Id})'" />
                       </div>
                    </div>
                  </div>
                }
           </div>
        </div>
        <br />

        <div>
           <h2>Insurance Details
           <input type="button" class="btn btn-secondary" title="Add" value="Add" onclick="location.href='@Url.Action("AddInsuranceInfo", "Employee")'" /> 
           </h2>
           <div class="row">
             @foreach(var item in @Model.employeeInsuranceInfos)
             {
               <div class="card bg-transparent border-3 row-col-sm-6" style="max-width: 40rem">
                 <div class="card-body">
                   <partial name="_GetInsuranceInfo.cshtml" model="item">
                  <div class="card-footer">
                     <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("UpdateInsuranceInfo", "Employee",new{Id=item.Id})'" />
                     <input type="button" class="btn btn-secondary" title="Delete" value="Delete" onclick="location.href='@Url.Action("DeleteInsuranceInfo", "Employee",new{Id=item.Id})'" />
                  </div>
                 </div>
               </div>
             }
          </div>
        </div>
        <br />

        <div>
           <h2>PF and ESI Details
           <input type="button" class="btn btn-secondary" title="Add" value="Add" onclick="location.href='@Url.Action("AddPFAndESIInfo", "Employee")'" />
           </h2>
           <div class="row">
            @foreach(var item in @Model.employeePFandESIInfos)
            {
             <div class="card bg-transparent border-3 col-sm-6" style="max-width: 40rem">
              <div class="cardbody">
                <partial name="_GetPFandESIInfo.cshtml" model="item">
                <div class="card-footer">
                    <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("UpdatePFandESIInfo", "Employee",new{Id=item.Id})'" />
                    <input type="button" class="btn btn-secondary" title="Delete" value="Delete" onclick="location.href='@Url.Action("DeletePFandESIInfo", "Employee",new{Id=item.Id})'" />
                </div>
              </div>
             </div>
            }
           </div>
        </div>
        <br />
        
        <div>
             <h2>Documents
                 @if(Model.employeeDocuments is null)
                {
                    <input type="button" class="btn btn-secondary" title="Add" value="Add" onclick="location.href='@Url.Action("AddDocument", "Employee")'" />
                }
            </h2>
        @if(Model.employeeDocuments is not null)
        {      
            <div class="row">
            <div class="card bg-transparent border-3">
            <div class="cardbody">
              <partial name="_GetDocument.cshtml" model="@Model.employeeDocuments">
             <div class="card-footer">
                <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("UpdateDocument", "Employee",new{Id=Model.employeeDocuments.Id})'" />
                 <input type="button" class="btn btn-secondary" title="Delete" value="Delete" onclick="location.href='@Url.Action("DeleteDocument", "Employee",new{Id=Model.employeeDocuments.Id})'" />
             </div>
             </div>
             </div>
        </div>
         }
        </div>
    }
  </form>