@model HRManager.Models.ViewModels.EmployeeIndexModels;

@{
    ViewData["Title"] = "Employee Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    <h1 class="text-center">Your Details</h1>
  <form asp-controller="Employee" asp-action="Index">
             
        <div>
          <h2>Personal Details</h2>
            <div class="row">
             <div class="card bg-transparent border-3">
              <div class="card-body">
                <partial name="_GetPersonalInfo.cshtml" model="@Model.employeePersonalInfo">
              <div class="card-footer">
                <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("UpdatePersonalInfo", "Employee",new{Id=Model.employeePersonalInfo.Id})'" />
              </div>
             </div>
            </div>
            </div>
        </div>
        <br />

        <div>
             <h2>Professional Details
                 <input type="button" class="btn btn-secondary" title="Add" value="Add" onclick="location.href='@Url.Action("AddProfessionalInfo", "Employee")'" />
             </h2> 
              <div class="row">
            @foreach (var item in @Model.employeeProfessionalInfos)
            {
              <div class="card bg-transparent border-3 col-sm-6" style="max-width: 40rem">
                  <div class="cardbody">
                    <partial name="_GetProfessionalInfo.cshtml" model="item">
                <div class="card-footer">
                    <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("UpdateProfessionalInfo", "Employee",new{Id=item.Id})'" />
                    <input type="button" class="btn btn-secondary" title="Delete" value="Delete" onclick="location.href='@Url.Action("DeleteProfessionalInfo", "Employee",new{Id=item.Id})'" />
                 </div>
                </div>
              </div>
            }
            </div>
            </div>
            <br />

        <div>
           <h2>Bank Details
              <input type="button" class="btn btn-secondary" title="Add" value="Add" onclick="location.href='@Url.Action("PostBankInfo", "Employee")'" />
           </h2>
           <div class="row" >
                @foreach (var item in @Model.employeeBankInfos)
                {
                  <div class="card bg-transparent border-3 col-sm-6" style="max-width: 40rem">
                    <div class="cardbody">
                       <partial name="_GetBankInfo.cshtml" model="item"> 
                       <div class="card-footer">
                        <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("PutBankInfo", "Employee",new{Id=item.Id})'" />
                        <input type="button" class="btn btn-secondary" title="Delete" value="Delete" onclick="location.href='@Url.Action("DeleteBankInfo", "Employee",new{Id=item.Id})'" />
                       </div>
                    </div>
                  </div>
                }
           </div>
        </div>
        <br />

        <div>
           <h2>Insurance Details
           <input type="button" class="btn btn-secondary" title="Add" value="Add" onclick="location.href='@Url.Action("AddInsuranceInfo", "Employee")'" /> 
           </h2>
           <div class="row">
             @foreach(var item in @Model.employeeInsuranceInfos)
             {
               <div class="card bg-transparent border-3 col-sm-6" style="max-width: 40rem">
                 <div class="card-body">
                   <partial name="_GetInsuranceInfo.cshtml" model="item">
                  <div class="card-footer">
                     <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("UpdateInsuranceInfo", "Employee",new{Id=item.Id})'" />
                     <input type="button" class="btn btn-secondary" title="Delete" value="Delete" onclick="location.href='@Url.Action("DeleteInsuranceInfo", "Employee",new{Id=item.Id})'" />
                  </div>
                 </div>
               </div>
             }
          </div>
        </div>
        <br />

        <div>
           <h2>PF and ESI Details
           <input type="button" class="btn btn-secondary" title="Add" value="Add" onclick="location.href='@Url.Action("AddPFAndESIInfo", "Employee")'" />
           </h2>
           <div class="row">
            @foreach(var item in @Model.employeePFandESIInfos)
            {
             <div class="card bg-transparent border-3 col-sm-6" style="max-width: 40rem">
              <div class="cardbody">
                <partial name="_GetPFandESIInfo.cshtml" model="item">
                <div class="card-footer">
                    <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("UpdatePFandESIInfo", "Employee",new{Id=item.Id})'" />
                    <input type="button" class="btn btn-secondary" title="Delete" value="Delete" onclick="location.href='@Url.Action("DeletePFandESIInfo", "Employee",new{Id=item.Id})'" />
                </div>
              </div>
             </div>
            }
           </div>
        </div>
        <br />
        
        <div>
             <h2>Documents
                 @if(Model.employeeDocuments is null)
                {
                    <input type="button" class="btn btn-secondary" title="Add" value="Add" onclick="location.href='@Url.Action("AddDocument", "Employee")'" />
                }
            </h2>
        @if(Model.employeeDocuments is not null)
        {      
            <div class="row">
            <div class="card bg-transparent border-3">
            <div class="cardbody">
              <partial name="_GetDocument.cshtml" model="@Model.employeeDocuments">
             <div class="card-footer">
                <input type="button" class="btn btn-secondary" title="Edit" value="Edit" onclick="location.href='@Url.Action("UpdateDocument", "Employee",new{Id=Model.employeeDocuments.Id})'" />
                 <input type="button" class="btn btn-secondary" title="Delete" value="Delete" onclick="location.href='@Url.Action("DeleteDocument", "Employee",new{Id=Model.employeeDocuments.Id})'" />
             </div>
             </div>
             </div>
        </div>
         }
        </div>   
        <br />

        <div>
            <div>
            <h3>Confidentiality Agreement</h3>
            <partial name="_ConfidentialityAgreement.cshtml" model="@Model.applicationTexts"/>
            <span>
                <input type="checkbox" name="IAgree" class="validation-checkbox" value="I Agree"/>
                <strong>I Agree</strong>
            </span>
            </div>
            <br />

            <div>
            <h3>Service Level Agreement</h3>
            <partial name="_ServiceLevelAgreement.cshtml" model="@Model.applicationTexts" />
            <span>
                <input type="checkbox" name="IAgree" class="validation-checkbox" value="I Agree"/>
                <strong>I Agree</strong>
            </span>
            </div>
            <br />

            <div>
            <h3>BGV Acknowlegdement</h3>
            <partial name="_BGVAcknowlegdement.cshtml" model="@Model.applicationTexts" />
            <span>
                <input type="checkbox" name="IAgree" class="validation-checkbox" value="I Agree"/>
                <strong>I Agree</strong>
            </span>
            </div>
        </div>
            <br />
            <div class= "text-center">
            <input type="submit" class="btn btn-primary" value="Submit" id="SendMail" @*onclick="location.href='@Url.Action("Submit","Employee")'"*@ />
            </div>
  </form>

 @section Scripts
  {
  <script>
   $(document).ready(function() {
        $("#SendMail").click(function(){
           var Checkboxes = [];
           $.each($("input[name='IAgree']:checked"), function(){            
                Checkboxes.push($(this).val());
            });

       if($('#professionaldetails').length>0)
       {
         if ($('#personaldetails').length>0 && $('#bankdetails').length>0 && $('#insurancedetails').length>0 && $('#PFandESIdetails').length>0 && $('#documents').length>0)
         { 
          
           if(Checkboxes.length==3)
           {
               $.ajax(
                {
                    url:"/Employee/Submit", //url of the action page
                }).done(function(response)
                {
                    alert("Submited Successfully")
                });
           }
         }
         else
            {
                alert("Please Fill all the details")
            }
        }

        else if ($('#professionaldetails').length==0)
        {
          if ($('#personaldetails').length>0 && $('#bankdetails').length>0 && $('#insurancedetails').length>0 && $('#documents').length>0)
         { 
          
           if(Checkboxes.length==3)
           {
               $.ajax(
                {
                    url:"/Employee/Submit", //url of the action page
                }).done(function(response)
                {
                    alert("Submited Successfully")
                });
           }
         }
         else
            {
                alert("Please Fill all the details")
            }
        }
         
        });
    });
</script>
}