@{
    ViewData["Title"] = "Employee Page";
}


    <div>
    <partial name="_PersonalInfo.cshtml" model="@Model.EmployeePersonalInfo">
    </div>

    <div>
    <partial name="_ProfessionalInfo.cshtml"model="@Model.EmployeeProfessionalInfo">
    </div>

    <div>
    <partial name="_BankInfo.cshtml" model="@Model.EmployeeBankInfo">
    </div>

    <div>
    <partial name="_InsuranceInfo.cshtml" model="@Model.EmployeeInsuranceInfo">
    </div>

    <div>
    <partial name="_PFandESIInfo.cshtml" model="@Model.EmployeePFandESIInfo">
    </div>

    <div>
    <partial name="_Document.cshtml" model="@Model.EmployeeDocumentInfo" >
    </div>

