@model HRManager.Models.ViewModels.EmployeeIndexModels;

@{
    ViewData["Title"] = "Employee Page";
    
}

<h2>Employee Details</h2>
 <div>
     <form asp-controller="Employee" asp-action="Index">
@if (Model is not null)
{  
    <div>
    <partial name="_PersonalInfo.cshtml" model="@Model.employeePersonalInfo">
    </div>
    
    foreach (var item in @Model.employeeProfessionalInfos)
    {
      <div>
        <partial name="_ProfessionalInfo.cshtml"model="item">
      </div>
    }

    foreach (var item in @Model.employeeBankInfos)
    {
        <div>
           <partial name="_BankInfo.cshtml" model="item">
        </div>
    }

    foreach(var item in @Model.employeeInsuranceInfos)
    {
        <div>
            <partial name="_InsuranceInfo.cshtml" model="item">
        </div>
    }

    foreach(var item in @Model.employeePFandESIInfos)
    {
    <div>
    <partial name="_PFandESIInfo.cshtml" model="item">
        </div>
    }

        <div>
                <partial name="_Document.cshtml" model="@Model.employeeDocuments">
        </div>
}
 </form>
 </div>