@model HRManager.Models.ViewModels.EmployeeDocumentModels

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateDocument</title>
</head>
<body>

<h4>Documents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            @if (Model is not null)
            {
                <form asp-action="UpdateDocument" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label hidden-for="@Model.employeeDocuments.Id" class="control-label"></label>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.PassportPhoto" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.PassportPhoto" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.PassportPhoto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.Resume" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.Resume" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.Resume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.PanCard" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.PanCard" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.PanCard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.AadharCard" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.AadharCard" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.AadharCard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.Passport" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.Passport" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.Passport" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.VoterId" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.VoterId" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.VoterId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.CurrentAddressProof" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.CurrentAddressProof" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.CurrentAddressProof" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.PermanentAddressProof" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.PermanentAddressProof" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.PermanentAddressProof" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.FathersAadharCard" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.FathersAadharCard" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.FathersAadharCard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.MothersAadharCard" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.MothersAadharCard" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.MothersAadharCard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.ThreeMonthsBankStatementOfSalaryAccount" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.ThreeMonthsBankStatementOfSalaryAccount" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.ThreeMonthsBankStatementOfSalaryAccount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.Form16OrIncomeCertificateOfCurrentFinYear" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.Form16OrIncomeCertificateOfCurrentFinYear" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.Form16OrIncomeCertificateOfCurrentFinYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.SSCOrEquivalent" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.SSCOrEquivalent" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.SSCOrEquivalent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.IntermediateOrEquivalent" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.IntermediateOrEquivalent" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.IntermediateOrEquivalent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.GraduationOrEquivalent" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.GraduationOrEquivalent" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.GraduationOrEquivalent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.PGOrEquivalent" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.PGOrEquivalent" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.PGOrEquivalent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.AdvancedDiplomaIfAny" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.AdvancedDiplomaIfAny" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.AdvancedDiplomaIfAny" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeFileDocuments.ProfessionalCertificationsIfAny" class="control-label"></label>
                    <input asp-for="@Model.employeeFileDocuments.ProfessionalCertificationsIfAny" class="custom-file-input" />
                    <span asp-validation-for="@Model.employeeFileDocuments.ProfessionalCertificationsIfAny" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save & Continue" class="btn btn-primary"/>
                </div>
        </form>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
