@model HRManager.Models.ViewModels.EmployeeProfessionalInfoModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model is not null)
{
    <h3>Edit Your Professional Details</h3>
    <div class="row">
        <div class="col-md-6">
            <form asp-action="UpdateProfessionalInfo" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label hidden-for="@Model.employeeProfessionalDocuments.Id" class="control-label"></label>
                    <input class="form-control" type="hidden" asp-for="@Model.employeeProfessionalDocuments.Id"/>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeProfessionalDocuments.OrganizationName" class="control-label"></label>
                    <input asp-for="@Model.employeeProfessionalDocuments.OrganizationName" class="form-control" />
                    <span asp-validation-for="@Model.employeeProfessionalDocuments.OrganizationName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group form-check">
                    <label asp-for="@Model.employeeProfessionalDocuments.IsThisYourLastEmployment" class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.employeeProfessionalDocuments.IsThisYourLastEmployment" />
                        <span asp-validation-for="@Model.employeeProfessionalDocuments.IsThisYourLastEmployment" class="text-danger"></span>
                    </label>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="@Model.employeeProfessionalDocuments.LastDesignation" class="control-label"></label>
                    <input asp-for="@Model.employeeProfessionalDocuments.LastDesignation" class="form-control" />
                    <span asp-validation-for="@Model.employeeProfessionalDocuments.LastDesignation" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="@Model.employeeProfessionalDocuments.StartDate" class="control-label"></label>
                    <input asp-for="@Model.employeeProfessionalDocuments.StartDate" class="form-control" />
                    <span asp-validation-for="@Model.employeeProfessionalDocuments.StartDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="@Model.employeeProfessionalDocuments.EndDate" class="control-label"></label>
                    <input asp-for="@Model.employeeProfessionalDocuments.EndDate" class="form-control" />
                    <span asp-validation-for="@Model.employeeProfessionalDocuments.EndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="@Model.employeeProfessionalDocuments.CTC" class="control-label"></label>
                    <input asp-for="@Model.employeeProfessionalDocuments.CTC" class="form-control" />
                    <span asp-validation-for="@Model.employeeProfessionalDocuments.CTC" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="@Model.employeeProfessionalDocuments.ReportingManagerName" class="control-label"></label>
                    <input asp-for="@Model.employeeProfessionalDocuments.ReportingManagerName" class="form-control" />
                    <span asp-validation-for="@Model.employeeProfessionalDocuments.ReportingManagerName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="@Model.employeeProfessionalDocuments.ReportingManagerEmailId" class="control-label"></label>
                    <input asp-for="@Model.employeeProfessionalDocuments.ReportingManagerEmailId" class="form-control" />
                    <span asp-validation-for="@Model.employeeProfessionalDocuments.ReportingManagerEmailId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="@Model.employeeProfessionalDocuments.HRName" class="control-label"></label>
                    <input asp-for="@Model.employeeProfessionalDocuments.HRName" class="form-control" />
                    <span asp-validation-for="@Model.employeeProfessionalDocuments.HRName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="@Model.employeeProfessionalDocuments.HREmailId" class="control-label"></label>
                    <input asp-for="@Model.employeeProfessionalDocuments.HREmailId" class="form-control" />
                    <span asp-validation-for="@Model.employeeProfessionalDocuments.HREmailId" class="text-danger"></span>
                </div>
                <div class="mb-3">                    
                    <label for="formFile" class="form-label" asp-for="@Model.OfferLetter"><strong>Offer Letter</strong></label>
                    <div class="form-group">
                        <input class="form md-6" type="file" id="formFile" asp-for="@Model.OfferLetter"/>
                        @if (!string.IsNullOrEmpty(@Model.employeeProfessionalDocuments.OfferLetterPath))
                        {
                            <a target="_blank" href="~/Documents/@Model.employeeProfessionalDocuments.OfferLetterPath">Offer Letter</a>
                        }
                    </div>
                </div>

                <div class="mb-3">                    
                    <label for="formFile" class="form-label" asp-for="@Model.RelievingLetter"><strong>Relieving Letter</strong></label>
                    <div class="form-group">
                        <input class="form md-6" type="file" id="formFile" asp-for="@Model.RelievingLetter"/>
                        @if (!string.IsNullOrEmpty(@Model.employeeProfessionalDocuments.RelievingLetterPath))
                        {
                            <a target="_blank" href="~/Documents/@Model.employeeProfessionalDocuments.RelievingLetterPath">Relieving Letter</a>
                        }
                    </div>
                </div>
                <br />
                <div class="mb-3">                    
                    <label for="formFile" class="form-label" asp-for="@Model.ExperienceLetter"><strong>Experience Letter</strong></label>
                    <div class="form-group">
                        <input class="form md-6" type="file" id="formFile" asp-for="@Model.ExperienceLetter"/>
                        @if (!string.IsNullOrEmpty(@Model.employeeProfessionalDocuments.ExperienceLetterPath))
                        {
                            <a target="_blank" href="~/Documents/@Model.employeeProfessionalDocuments.ExperienceLetterPath">Experience Letter</a>
                        }
                    </div>
                </div>
                <br />
                <div class="mb-3">                    
                    <label for="formFile" class="form-label" asp-for="@Model.PaySlip1"><strong>Pay Slip 1</strong></label>
                    <div class="form-group">
                        <input class="form md-6" type="file" id="formFile" asp-for="@Model.PaySlip1"/>
                        @if (!string.IsNullOrEmpty(@Model.employeeProfessionalDocuments.PaySlip1))
                        {
                            <a target="_blank" href="~/Documents/@Model.employeeProfessionalDocuments.PaySlip1">Pay Slip 1</a>
                        }
                    </div>
                </div>
                <div class="mb-3">                    
                    <label for="formFile" class="form-label" asp-for="@Model.PaySlip2"><strong>Pay Slip 2</strong></label>
                    <div class="form-group">
                        <input class="form md-6" type="file" id="formFile" asp-for="@Model.PaySlip2"/>
                        @if (!string.IsNullOrEmpty(@Model.employeeProfessionalDocuments.PaySlip2))
                        {
                            <a target="_blank" href="~/Documents/@Model.employeeProfessionalDocuments.PaySlip2">Pay Slip 2</a>
                        }
                    </div>
                </div>
                <div class="mb-3">                    
                    <label for="formFile" class="form-label" asp-for="@Model.PaySlip3"><strong>Pay Slip 3</strong></label>
                    <div class="form-group">
                        <input class="form md-6" type="file" id="formFile" asp-for="@Model.PaySlip3"/>
                        @if (!string.IsNullOrEmpty(@Model.employeeProfessionalDocuments.PaySlip3))
                        {
                            <a target="_blank" href="~/Documents/@Model.employeeProfessionalDocuments.PaySlip3">Pay Slip 3</a>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.employeeProfessionalDocuments.ReferenceEmailId" class="control-label"></label>
                    <input asp-for="@Model.employeeProfessionalDocuments.ReferenceEmailId" class="form-control" />
                    <span asp-validation-for="@Model.employeeProfessionalDocuments.ReferenceEmailId" class="text-danger"></span>
                </div>

                 <br />
                <div class="form-group">
                    <input type="submit" value="Back" class="btn btn-primary" asp-action="Index"/>
                    <input type="submit" value="Save" class="btn btn-primary" style="float: right;"/>
                </div>
            </form>
        </div>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}