@model HRManager.Models.EntityViews.EmployeePersonalInfo

<div>
    <h4>EmployeePersonalInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.HiddenFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.HiddenFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.HiddenFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.HiddenFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalEmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalEmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationshipWithContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationshipWithContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PanCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PanCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAsPerAadhar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAsPerAadhar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AadharCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AadharCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FathersNameAsPerAadhar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FathersNameAsPerAadhar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FathersMobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FathersMobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MothersNameAsPerAadhar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MothersNameAsPerAadhar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HowWereYouReferredToUs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HowWereYouReferredToUs)
        </dd>
    </dl>
</div>

