@model HRManager.Models.ViewModels.AllEmployeeTable
@if (Model is not null)
{
string strFromDate = string.Empty;
if(Model.FromDate !=null)
{ strFromDate = Model.FromDate.Value.ToString("yyyy-MM-dd"); }

string strToDate = string.Empty;
if(Model.ToDate !=null)
{ strToDate = Model.ToDate.Value.ToString("yyyy-MM-dd"); }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeData[0].Id)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.EmployeeData[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeData[0].EmployeeNameAsPerAadhar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeData[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeData[0].MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeData[0].PersonalEmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeData[0].PanCard)
            </th>
            <th>
                @Html.HiddenFor(model => model.EmployeeData[0].UserId)
            </th>
            <th>
                @Html.DisplayName("PD Validation")
            </th>
            <th>
                @Html.DisplayName("BG Verification")
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EmployeeData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNameAsPerAadhar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalEmailId)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.PanCard)
            </td>
             <td>
                @Html.HiddenFor(modelItem => item.UserId)
            </td>
            <td>
              @Html.ActionLink("PD Validation","PDValidation","Admin",new{EmployeeUserId=item.UserId})
            </td>
            <td>
              @Html.ActionLink("BG Verification","BGVerification","Admin",new{EmployeeUserId=item.UserId})
            </td>
        </tr>
        }
    </tbody>
</table>

<a role="button" class="btn btn-dark" id="Export" asp-area="" asp-controller="Admin" asp-action="Export" asp-route-DateFrom="@strFromDate" asp-route-DateTo="@strToDate" >Export Data</a>
}

@section Scripts
{
    $("#SearchWith").click(
function()
    {
        $.ajax(
            {
                url:"/Admin/SearchEmployee?searchValue="+$("#search").val();
            }
        ).done(function(data))
        {

        });
    });
}