@model IEnumerable<HRManager.Models.Views.EmployeeTableSummary>



@if(Model is not null)
{
   <div>
      <h4>Employee Table</h4>
      <hr />
      

       <div>
       <button type="button" class="btn btn-primary">Export</button>
       </div>  
      <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalEmailId)
                </th>
            
          
                <th></th>
            </tr>
        </thead>
   
        
        @foreach (var item in Model) {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PersonalEmailId)
                </td>
            </tr>            
        </tbody>
        }
    </table>   

  </div>

    <div>
        <a asp-action="Index">Back</a>
    </div>
}
