@model IEnumerable<HRManager.Models.Views.EmployeeCardSummary>

<div>
    <h4>Employee Detail</h4>
    <hr />
    @{
    string ColMedSize = "12";
    string ColLgSize = "12";
    if (ViewBag.ShowColumns == true)
    {
        ColMedSize = "6";
        ColLgSize = "4";
    }
}
@{
    <div class="col-lg-@ColLgSize col-md-@ColMedSize">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalEmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalEmailId)
        </dd>
    </dl>
    </div>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
