@model HRManager.Models.EntityViews.EmployeeDocument

@if (Model is not null)
{
    <div>
        <dl class="row">
            <dt class = "col-sm-6">
                @Html.HiddenFor(model => model.Id)
            </dt>
            <dd class = "col-sm-6">
                @Html.HiddenFor(model => model.Id)
            </dd>
            <dt class = "col-sm-6">
                @Html.HiddenFor(model => model.UserId)
            </dt>
            <dd class = "col-sm-6">
                @Html.HiddenFor(model => model.UserId)
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Passport Photo" field-name="@Html.DisplayNameFor(model => model.PassportPhoto)" field-value="@Model.PassportPhoto"/>

                @Html.DisplayNameFor(model => model.PassportPhoto)
            </dt>
            <dd class = "col-sm-6">
              @if (!string.IsNullOrEmpty(@Model.PassportPhoto))
                    {
                        <a target="_blank" href="~/Documents/@Model.PassportPhoto">Passport Photo</a>
                    }
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Passport-Photo" />
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Resume" field-name="@Html.DisplayNameFor(model => model.Resume)" field-value="@Model.Resume"/>
                @Html.DisplayNameFor(model => model.Resume)
            </dt>
            <dd class = "col-sm-6">  
                @if (!string.IsNullOrEmpty(@Model.Resume))
                    {
                        <a target="_blank" href="~/Documents/@Model.Resume">Resume</a>
                    }
                 <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Resume"/>
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Pan Card"  field-name="@Html.DisplayNameFor(model => model.PanCard)" field-value="@Model.PanCard"/>
                @Html.DisplayNameFor(model => model.PanCard)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.PanCard))
                    {
                        <a target="_blank" href="~/Documents/@Model.PanCard">Pan Card</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Pan-Card"/>
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Aadhar Card" field-name="@Html.DisplayNameFor(model => model.AadharCard)" field-value="@Model.AadharCard"/>
                @Html.DisplayNameFor(model => model.AadharCard)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.AadharCard))
                    {
                        <a target="_blank" href="~/Documents/@Model.AadharCard">Aadhar Card</a>
                    }
                 <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Aadhar-Card"/>
                 </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Passport" field-name="@Html.DisplayNameFor(model => model.Passport)" field-value="@Model.Passport"/>
                @Html.DisplayNameFor(model => model.Passport)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.Passport))
                    {
                        <a target="_blank" href="'~/Documents/'+@Model.Passport">Passport</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Passport" />
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Voter Id" field-name="@Html.DisplayNameFor(model => model.VoterId)" field-value="@Model.VoterId"/>
                @Html.DisplayNameFor(model => model.VoterId)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.VoterId))
                    {
                        <a target="_blank" href="~/Documents/@Model.VoterId">Voter Id</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Voter-Id"/>
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Current Address Proof" field-name="@Html.DisplayNameFor(model => model.CurrentAddressProof)" field-value="@Model.CurrentAddressProof"/>
                @Html.DisplayNameFor(model => model.CurrentAddressProof)
            </dt>
            <dd class = "col-sm-6">
                 @if (!string.IsNullOrEmpty(@Model.CurrentAddressProof))
                    {
                        <a target="_blank" href="~/Documents/@Model.CurrentAddressProof">Current Address Proof</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Current-Address-Proof" />
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Permanent Address Proof" field-name="@Html.DisplayNameFor(model => model.PermanentAddressProof)" field-value="@Model.PermanentAddressProof"/>
                @Html.DisplayNameFor(model => model.PermanentAddressProof)
            </dt>
            <dd class = "col-sm-6">
                 @if (!string.IsNullOrEmpty(@Model.PermanentAddressProof))
                    {
                        <a target="_blank" href="~/Documents/@Model.PermanentAddressProof">Permanent Address Proof</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Permanent-Address-Proof"/>
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Fathers Aadhar Card" field-name="@Html.DisplayNameFor(model => model.FathersAadharCard)" field-value="@Model.FathersAadharCard"/>
                @Html.DisplayNameFor(model => model.FathersAadharCard)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.FathersAadharCard))
                    {
                        <a target="_blank" href="~/Documents/@Model.FathersAadharCard">Fathers Aadhar Card</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Fathers-Aadhar-Card"/>
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Mothers Aadhar Card" field-name="@Html.DisplayNameFor(model => model.MothersAadharCard)" field-value="@Model.MothersAadharCard"/>
                @Html.DisplayNameFor(model => model.MothersAadharCard)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.MothersAadharCard))
                    {
                        <a target="_blank" href="~/Documents/@Model.MothersAadharCard">Mothers Aadhar Card</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Mothers-Aadhar-Card" />
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Three Months Bank Statement Of Salary Account" field-name="@Html.DisplayNameFor(model => model.ThreeMonthsBankStatementOfSalaryAccount)" field-value="@Model.ThreeMonthsBankStatementOfSalaryAccount"/>
                @Html.DisplayNameFor(model => model.ThreeMonthsBankStatementOfSalaryAccount)
            </dt>
            <dd class = "col-sm-6">
                 @if (!string.IsNullOrEmpty(@Model.ThreeMonthsBankStatementOfSalaryAccount))
                    {
                        <a target="_blank" href="~/Documents/@Model.ThreeMonthsBankStatementOfSalaryAccount">Three Months Bank Statement Of Salary Account</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Three-Months-Bank-Statement-Of-Salary-Account" />
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Form16 Or Income Certificate Of Current FinYear" field-name="@Html.DisplayNameFor(model => model.Form16OrIncomeCertificateOfCurrentFinYear)" field-value="@Model.Form16OrIncomeCertificateOfCurrentFinYear"/>
                @Html.DisplayNameFor(model => model.Form16OrIncomeCertificateOfCurrentFinYear)
            </dt>
            <dd class = "col-sm-6">
                 @if (!string.IsNullOrEmpty(@Model.Form16OrIncomeCertificateOfCurrentFinYear))
                    {
                        <a target="_blank" href="~/Documents/@Model.Form16OrIncomeCertificateOfCurrentFinYear">Form16 Or Income Certificate Of Current FinYear</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Form-16-Or-Income-Certificate-Of-Current-FinYear"/>
                </span>
                    <br />
                    
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="SSC Or Equivalent" field-name="@Html.DisplayNameFor(model => model.SSCOrEquivalent)" field-value="@Model.SSCOrEquivalent"/>
                @Html.DisplayNameFor(model => model.SSCOrEquivalent)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.SSCOrEquivalent))
                    {
                        <a target="_blank" href="~/Documents/@Model.SSCOrEquivalent">SSC Or Equivalent</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-SSC-Or-Equivalent" />
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Intermediate Or Equivalent" field-name="@Html.DisplayNameFor(model => model.IntermediateOrEquivalent)" field-value="@Model.IntermediateOrEquivalent"/>
                @Html.DisplayNameFor(model => model.IntermediateOrEquivalent)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.IntermediateOrEquivalent))
                    {
                        <a target="_blank" href="~/Documents/@Model.IntermediateOrEquivalent">Intermediate Or Equivalent</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Intermediate-Or-Equivalent"/>
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Graduation Or Equivalent" field-name="@Html.DisplayNameFor(model => model.GraduationOrEquivalent)" field-value="@Model.GraduationOrEquivalent"/>
                @Html.DisplayNameFor(model => model.GraduationOrEquivalent)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.GraduationOrEquivalent))
                    {
                        <a target="_blank" href="~/Documents/@Model.GraduationOrEquivalent">Graduation Or Equivalent</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Graduation-Or-Equivalent"/>
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="PG Or Equivalent" field-name="@Html.DisplayNameFor(model => model.PGOrEquivalent)" field-value="@Model.PGOrEquivalent"/>
                @Html.DisplayNameFor(model => model.PGOrEquivalent)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.PGOrEquivalent))
                    {
                        <a target="_blank" href="~/Documents/@Model.PGOrEquivalent">PG Or Equivalent</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-PG-Or-Equivalent"/>
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Advanced Diploma If Any" field-name="@Html.DisplayNameFor(model => model.AdvancedDiplomaIfAny)" field-value="@Model.AdvancedDiplomaIfAny"/>
                @Html.DisplayNameFor(model => model.AdvancedDiplomaIfAny)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.AdvancedDiplomaIfAny))
                    {
                        <a target="_blank" href="~/Documents/@Model.AdvancedDiplomaIfAny">Advanced Diploma If Any</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Advanced-Diploma-If-Any" />
                </span>
                    <br />
            </dd>
            <dt class = "col-sm-6">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Professional Certifications If Any" field-name="@Html.DisplayNameFor(model => model.ProfessionalCertificationsIfAny)" field-value="@Model.ProfessionalCertificationsIfAny"/>
                @Html.DisplayNameFor(model => model.ProfessionalCertificationsIfAny)
            </dt>
            <dd class = "col-sm-6">
                @if (!string.IsNullOrEmpty(@Model.ProfessionalCertificationsIfAny))
                    {
                        <a target="_blank" href="~/Documents/@Model.ProfessionalCertificationsIfAny">Professional Certifications If Any</a>
                    }
                <span>
                  <input type="text" style="float:right; width:auto;" id="Comment-Professional-Certifications-If-Any"/>
                </span>
                    <br />
            </dd>
        </dl>
          @*@Html.ActionLink("Edit","UpdateDocument","Employee",new{id=Model.Id})|
           @Html.ActionLink("Delete","DeleteDocument","Employee",new{id=Model.Id})*@
    </div>
}
