@model HRManager.Models.EntityViews.EmployeeInsuranceInfo


    <div>
        <dl class="row">
            <dt class = "col-sm-4">
                @Html.HiddenFor(model => model.Id)
            </dt>
            <dd class = "col-sm-8">
                @Html.HiddenFor(model => model.Id)
            </dd>
            <dt class = "col-sm-4">
                @Html.HiddenFor(model => model.UserId)
            </dt>
            <dd class = "col-sm-8">
                @Html.HiddenFor(model => model.UserId)
            </dd>
            <dt class = "col-sm-4">
                 <input type="checkbox" class="validation-checkbox" name="checkbox" value="Name As Per Aadhar" field-name="@Html.DisplayNameFor(model => model.NameAsPerAadhar)" field-value="@Model.NameAsPerAadhar">
                @Html.DisplayNameFor(model => model.NameAsPerAadhar)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.NameAsPerAadhar)
                 <span>
                    <input type="text" style="float:right;" id="Comment-Name-As-Per-Aadhar"/>
                </span>
                <br />
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Date of Birth As Per Aadhar" field-name="@Html.DisplayNameFor(model => model.DateOfBirthAsPerAadhar)" field-value="@Model.DateOfBirthAsPerAadhar">
                @Html.DisplayNameFor(model => model.DateOfBirthAsPerAadhar)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.DateOfBirthAsPerAadhar)
                 <span>
                    <input type="text" style="float:right;" id="Comment-Date-Of-Birth-As-Per-Aadhar"/>
                </span>
                <br />
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Relationship" field-name="@Html.DisplayNameFor(model => model.Relationship)" field-value="@Model.Relationship">
                @Html.DisplayNameFor(model => model.Relationship)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Relationship)
                 <span>
                    <input type="text" style="float:right;" id="Comment-Relationship"/>
                </span>
                <br />
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Gender" field-name="@Html.DisplayNameFor(model => model.Gender)" field-value="@Model.Gender">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Gender)
                 <span>
                    <input type="text" style="float:right;" id="Comment-Gender"/>
                </span>
                <br />
            </dd>
        </dl>
         @*@Html.ActionLink("Edit","UpdateInsuranceInfo","Employee",new{Id=Model.Id})
          @Html.ActionLink("Delete","DeleteInsuranceInfo","Employee",new{id=Model.Id})*@
    </div>

