@model HRManager.Models.EntityViews.EmployeePersonalInfo

@if(Model is not null)
{
    <div>
      <dl class="row">
            <dt class = "col-sm-4">
                @Html.HiddenFor(model => model.Id)
            </dt>
            <dd class = "col-sm-8">
                @Html.HiddenFor(model => model.Id)
            </dd>
            <dt class = "col-sm-4">
                @Html.HiddenFor(model => model.UserId)
            </dt>
            <dd class = "col-sm-8">
                @Html.HiddenFor(model => model.UserId)
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="First Name" field-name="@Html.DisplayNameFor(model => model.FirstName)" field-value="@Model.FirstName"/>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.FirstName)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-First-Name" />
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Middle Name" field-name="@Html.DisplayNameFor(model => model.MiddleName)" field-value="@Model.MiddleName"/>
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.MiddleName)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Middle-Name" />
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Last Name" field-name="@Html.DisplayNameFor(model => model.LastName)" field-value="@Model.LastName"/>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.LastName)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Last-Name" />
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Gender" field-name="@Html.DisplayNameFor(model => model.Gender)" field-value="@Model.Gender"/>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Gender)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Gender" />
                </span>
            </dd>
             <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Marital Status" field-name="@Html.DisplayNameFor(model => model.MaritalStatus)" field-value="@Model.MaritalStatus"/>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.MaritalStatus)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Marital-Status"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox"  value="Date Of Birth" field-name="@Html.DisplayNameFor(model => model.DateOfBirth)" field-value="@Model.DateOfBirth"/>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.DateOfBirth)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Date-Of-Birth"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Mobile Number"  field-name="@Html.DisplayNameFor(model => model.MobileNumber)" field-value="@Model.MobileNumber"/>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.MobileNumber)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Mobile-Number"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Personal Email Id"  field-name="@Html.DisplayNameFor(model => model.PersonalEmailId)" field-value="@Model.PersonalEmailId"/>
                @Html.DisplayNameFor(model => model.PersonalEmailId)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.PersonalEmailId)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Personal-Email-Id"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Address Line 1"  field-name="@Html.DisplayNameFor(model => model.CurrentAddressLine1)" field-value="@Model.CurrentAddressLine1"/>
                @Html.DisplayNameFor(model => model.CurrentAddressLine1)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.CurrentAddressLine1)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Address-Line-1"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Address Line 2"  field-name="@Html.DisplayNameFor(model => model.CurrentAddressLine2)" field-value="@Model.CurrentAddressLine2"/>
                @Html.DisplayNameFor(model => model.CurrentAddressLine2)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.CurrentAddressLine2)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Address-Line-2"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Address Line 3"  field-name="@Html.DisplayNameFor(model => model.CurrentAddressLine3)" field-value="@Model.CurrentAddressLine3"/>
                @Html.DisplayNameFor(model => model.CurrentAddressLine3)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.CurrentCity)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Address-Line-3"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="City"  field-name="@Html.DisplayNameFor(model => model.CurrentCity)" field-value="@Model.CurrentCity"/>
                @Html.DisplayNameFor(model => model.CurrentCity)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.CurrentState)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-City"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="State"  field-name="@Html.DisplayNameFor(model => model.CurrentState)" field-value="@Model.CurrentState"/>
                @Html.DisplayNameFor(model => model.CurrentState)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.CurrentState)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-State" />
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Pincode"  field-name="@Html.DisplayNameFor(model => model.CurrentPinCode)" field-value="@Model.CurrentPinCode"/>
                @Html.DisplayNameFor(model => model.CurrentPinCode)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.CurrentPinCode)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Pincode"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Address Line 1"  field-name="@Html.DisplayNameFor(model => model.PermanentAddressLine1)" field-value="@Model.PermanentAddressLine1"/>
                @Html.DisplayNameFor(model => model.PermanentAddressLine1)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.PermanentAddressLine1)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Address-Line-1"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Address Line 2"  field-name="@Html.DisplayNameFor(model => model.PermanentAddressLine2)" field-value="@Model.PermanentAddressLine2"/>
                @Html.DisplayNameFor(model => model.PermanentAddressLine2)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.PermanentAddressLine2)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Address-Line-2"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Address Line 3"  field-name="@Html.DisplayNameFor(model => model.PermanentAddressLine3)" field-value="@Model.PermanentAddressLine3"/>
                @Html.DisplayNameFor(model => model.PermanentAddressLine3)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.PermanentAddressLine3)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Address-Line-3"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="City"  field-name="@Html.DisplayNameFor(model => model.PermanentCity)" field-value="@Model.PermanentCity"/>
                @Html.DisplayNameFor(model => model.PermanentCity)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.PermanentCity)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-City" />
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="State"  field-name="@Html.DisplayNameFor(model => model.PermanentState)" field-value="@Model.PermanentState"/>
                @Html.DisplayNameFor(model => model.PermanentState)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.PermanentState)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-State"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Pincode"  field-name="@Html.DisplayNameFor(model => model.PermanentPincode)" field-value="@Model.PermanentPincode"/>
                @Html.DisplayNameFor(model => model.PermanentPincode)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.PermanentPincode)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Pincode"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox"  value="Blood Group" field-name="@Html.DisplayNameFor(model => model.BloodGroup)" field-value="@Model.BloodGroup"/>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.BloodGroup)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Blood-Group"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Emergency Contact Name"  field-name="@Html.DisplayNameFor(model => model.EmergencyContactName)" field-value="@Model.EmergencyContactName"/>
                @Html.DisplayNameFor(model => model.EmergencyContactName)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.EmergencyContactName)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Emergency-Contact-Name"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox" value="Emergency Contact Number"  field-name="@Html.DisplayNameFor(model => model.EmergencyContactNumber)" field-value="@Model.EmergencyContactNumber"/>
                @Html.DisplayNameFor(model => model.EmergencyContactNumber)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.EmergencyContactNumber)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Emergency-Contact-Number"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox"  value="Relationship With Contact" field-name="@Html.DisplayNameFor(model => model.RelationshipWithContact)" field-value="@Model.RelationshipWithContact"/>
                @Html.DisplayNameFor(model => model.RelationshipWithContact)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.RelationshipWithContact)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Relationship-With-Contact"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox"  value="Pan Card Number"  field-name="@Html.DisplayNameFor(model => model.PanCardNumber)" field-value="@Model.PanCardNumber"/>
                @Html.DisplayNameFor(model => model.PanCardNumber)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.PanCardNumber)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Pan-Card-Number"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox"  value="Name As Per Aadhar"  field-name="@Html.DisplayNameFor(model => model.NameAsPerAadhar)" field-value="@Model.NameAsPerAadhar"/>
                @Html.DisplayNameFor(model => model.NameAsPerAadhar)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.NameAsPerAadhar)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Name-As-Per-Aadhar"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox"  value="Aadhar Card Number" field-name="@Html.DisplayNameFor(model => model.AadharCardNumber)" field-value="@Model.AadharCardNumber"/>
                @Html.DisplayNameFor(model => model.AadharCardNumber)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.AadharCardNumber)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Aadhar-Card-Number"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox"  value="Fathers Name As Per Aadhar"  field-name="@Html.DisplayNameFor(model => model.FathersNameAsPerAadhar)" field-value="@Model.FathersNameAsPerAadhar"/>
                @Html.DisplayNameFor(model => model.FathersNameAsPerAadhar)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.FathersNameAsPerAadhar)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Fathers-Name-As-Per-Aadhar"/>
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox"  value="Fathers Mobile Number" field-name="@Html.DisplayNameFor(model => model.FathersMobileNumber)" field-value="@Model.FathersMobileNumber"/>
                @Html.DisplayNameFor(model => model.FathersMobileNumber)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.FathersMobileNumber)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Fathers-Mobile-Number" />
                </span>
            </dd>
            <dt class = "col-sm-4">
                <input type="checkbox" class="validation-checkbox" name="checkbox"  value="Mothers Name As Per Aadhar"  field-name="@Html.DisplayNameFor(model => model.MothersNameAsPerAadhar)" field-value="@Model.MothersNameAsPerAadhar"/>
                @Html.DisplayNameFor(model => model.MothersNameAsPerAadhar)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.MothersNameAsPerAadhar)
                <span>
                    <input type="text" style="float:right; width:auto;" id="Comment-Mothers-Name-As-Per-Aadhar"/>
                </span>
            </dd>
      </dl>
            @*@Html.ActionLink("Edit","UpdatePersonalInfo","Employee",new{id=Model.Id})*@
             
    </div>


}