@model HRManager.Models.EntityViews.EmployeeProfessionalInfo


    <div>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.HiddenFor(model => model.Id)
            </dt>
            <dd class = "col-sm-10">
                @Html.HiddenFor(model => model.Id)
            </dd>
            <dt class = "col-sm-2">
                @Html.HiddenFor(model => model.UserId)
            </dt>
            <dd class = "col-sm-10">
                @Html.HiddenFor(model => model.UserId)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.OrganizationName)" field-value="@Model.OrganizationName">
                @Html.DisplayNameFor(model => model.OrganizationName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.OrganizationName)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.IsThisYourLastEmployment)" field-value="@Model.IsThisYourLastEmployment">
                @Html.DisplayNameFor(model => model.IsThisYourLastEmployment)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsThisYourLastEmployment)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.LastDesignation)" field-value="@Model.LastDesignation">
                @Html.DisplayNameFor(model => model.LastDesignation)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.LastDesignation)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.CTC)" field-value="@Model.CTC">
                @Html.DisplayNameFor(model => model.CTC)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CTC)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.ReportingManagerName)" field-value="@Model.ReportingManagerName">
                @Html.DisplayNameFor(model => model.ReportingManagerName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ReportingManagerName)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.ReportingManagerEmailId)" field-value="@Model.ReportingManagerEmailId">
                @Html.DisplayNameFor(model => model.ReportingManagerEmailId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ReportingManagerEmailId)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.HRName)" field-value="@Model.HRName">
                @Html.DisplayNameFor(model => model.HRName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.HRName)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.HREmailId)" field-value="@Model.HREmailId">
                @Html.DisplayNameFor(model => model.HREmailId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.HREmailId)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.OfferLetterPath)" field-value="@Model.OfferLetterPath">
                @Html.DisplayNameFor(model => model.OfferLetterPath)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.OfferLetterPath)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.RelievingLetterPath)" field-value="@Model.RelievingLetterPath">
                @Html.DisplayNameFor(model => model.RelievingLetterPath)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.RelievingLetterPath)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.ExperienceLetterPath)" field-value="@Model.ExperienceLetterPath">
                @Html.DisplayNameFor(model => model.ExperienceLetterPath)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ExperienceLetterPath)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.PaySlip1)" field-value="@Model.PaySlip1">
                @Html.DisplayNameFor(model => model.PaySlip1)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PaySlip1)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.PaySlip2)" field-value="@Model.PaySlip2">
                @Html.DisplayNameFor(model => model.PaySlip2)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PaySlip2)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.PaySlip3)" field-value="@Model.PaySlip3">
                @Html.DisplayNameFor(model => model.PaySlip3)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PaySlip3)
            </dd>
            <dt class = "col-sm-2">
                <input type="checkbox" class="validation-checkbox" name="checkbox" field-name="@Html.DisplayNameFor(model => model.ReferenceEmailId)" field-value="@Model.ReferenceEmailId">
                @Html.DisplayNameFor(model => model.ReferenceEmailId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ReferenceEmailId)
            </dd>
        </dl>
        @*@Html.ActionLink("Edit","UpdateProfessionalInfo","Employee",new{Id=Model.Id})
        @Html.ActionLink("Delete","DeleteProfessionalInfo","Employee",new{id=Model.Id})*@
    </div>

