@model HRManager.Models.ViewModels.EmployeeAllDetails;

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div>
  <form>
    @if (Model is not null)
    {  
        <h3>Personal Details</h3>
        <div class="row"> 
            <div class="card bg-transparent border-3">
                  <div class="cardbody">
                     <partial name="_PersonalInfo.cshtml"  model="@Model.employeePersonalInfo">
                  </div>
             </div>
        </div>
        <br />
           
        
         <h3>Professional Details</h3>
        foreach (var item in @Model.employeeProfessionalInfos)
        {
        <div class="row"> 
              <div class="card bg-transparent border-3">
                  <div class="cardbody">
                      <partial name="_ProfessionalInfo.cshtml"model="item"/>
                  </div>
             </div>
          </div>  
          <br />
        }

         <h3>Bank Details</h3>

        <div class="row"> 
                <div class="card bg-transparent border-3">
                  <div class="cardbody">
                    <partial name="_BankInfo.cshtml" model="@Model.employeeBankInfos"/>
                  </div>
                </div>
            </div>            
        <br />

         <h3>Insurance Details</h3>
         
        foreach(var item in @Model.employeeInsuranceInfos)
        {
        <div class="row"> 
                <div class="card bg-transparent border-3">
                  <div class="cardbody">
                     <partial name="_InsuranceInfo.cshtml" model="item"/>
                  </div>
                </div>
        </div>
        }
        <br />

         <h3>PF and ESI Details</h3>
         
        <div class="row"> 
                <div class="card bg-transparent border-3">
                  <div class="cardbody">
                <partial name="_PFandESIInfo.cshtml" model="@Model.employeePFandESIInfos"/>
                </div>
             </div>
            </div>
            <br />

         <h3>Documents</h3>
        
        if(@Model.employeeDocuments is not null)
        {
        <div class="row"> 
                <div class="card bg-transparent border-3">
                  <div class="cardbody">
                    <partial name="_Document.cshtml" model="@Model.employeeDocuments"/>
                  </div>
                </div>
                </div>
            }           
        }
        <br />
        <div class="text-center">
            <span>
                <input type="button" class="btn btn-primary" value="Send Email" name="Send Email" id="SendEmail" @*onclick="location.href='@Url.Action("SendPDValidationEmail", "Admin",new{EmployeeId=Model.employeePersonalInfo.Id,FieldsToUpdate="FieldsToUpdate"})'"*@/>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" class="btn btn-primary" value="Validate" name="Validate" id="Validate" onclick="location.href='@Url.Action("PDvalidate", "Admin",new{EmployeeUserId=@Model.employeePersonalInfo.UserId})'"/>
            </span>
        </div>
     </form>
</div>

@section Scripts
{
<script>
   $(document).ready(function() {
        $("#SendEmail").click(function(){
           var FieldsToUpdate1 = [];
           $.each($("input[name='checkbox']:checked"), function(){            
                FieldsToUpdate1.push($(this).val())
                var fieldVal=$(this).attr("field-value")
                var CommentId="#Comment-"+$(this).val().replaceAll(" ","-")
                var CommentVal=$(CommentId).val()
                FieldsToUpdate1.push(fieldVal)
                FieldsToUpdate1.push(CommentVal)
            });
       $.ajax(
        {
            type:"POST",
            url:"/Admin/SendPDValidationEmail/", //url of the action page
            data:{EmployeeId:@Model.employeePersonalInfo.Id,FieldsToUpdate:FieldsToUpdate1}
            //success : function(response)
            //{
               //code to do somethng if its success
            //}
        }).done(function(response)
        {

            alert("Email Sent Successfully")
        });

        });
    });
</script>
}

